@font-face {
    font-family: "Codec Warm";
    src: url("../fonts/CodecWarm-Bold.woff") format("woff"),
    url("../fonts/CodecWarm-Bold.ttf") format("ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Codec Warm";
    src: url("../fonts/CodecWarm-ExtraBold.woff") format("woff"),
    url("../fonts/CodecWarm-ExtraBold.ttf") format("ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Codec Warm";
    src: url("../fonts/CodecWarm-Regular.woff") format("woff"),
    url("../fonts/CodecWarm-Regular.ttf") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Codec Warm";
    src: url("../fonts/CodecWarm-Light.woff") format("woff"),
    url("../fonts/CodecWarm-Light.ttf") format("ttf");
    font-weight: lighter;
}